
.tasks {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}


.sandra {
  font-style: italic;
  color: pink;
}

.header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header p {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 700;
}

.textPurple {
  color: #4e4e4e !important;
}



.header span {
  background: #333333;
  color: #D9D9D9;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 768px) {
  .tasks {
    margin-top: 60px;
  }

  .header p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .tasks {
    padding: 0.5rem;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .header p {
    font-size: 16px;
  }

  .header span {
    font-size: 14px;
  }

  .list {
    gap: 8px;
  }
}
